.linear-gradient-orange {
	background-image: -webkit-linear-gradient(10deg, 
						rgb(238, 140, 37) 0%, rgb(238, 140, 37) 9%,
						rgb(226, 133, 35) 10%, rgb(226, 133, 35) 19%,
						rgb(209, 123, 33) 20%, rgb(209, 123, 33) 29%,
						rgb(214, 126, 33) 30%, rgb(214, 126, 33) 39%,
						rgb(198, 116, 31) 40%, rgb(198, 116, 31) 49%,
						rgb(202, 119, 32) 50%, rgb(202, 119, 32) 59%,
						rgb(186, 109, 29) 60%, rgb(186, 109, 29) 69%,
						rgb(190, 112, 30) 70%, rgb(190, 112, 30) 79%,
						rgb(174, 102, 27) 80%, rgb(174, 102, 27) 89%,
						rgb(178, 105, 28) 90%, rgb(178, 105, 28) 100%);
	background-image: linear-gradient(10deg, 
						rgb(238, 140, 37) 0%, rgb(238, 140, 37) 9%,
						rgb(226, 133, 35) 10%, rgb(226, 133, 35) 19%,
						rgb(209, 123, 33) 20%, rgb(209, 123, 33) 29%,
						rgb(214, 126, 33) 30%, rgb(214, 126, 33) 39%,
						rgb(198, 116, 31) 40%, rgb(198, 116, 31) 49%,
						rgb(202, 119, 32) 50%, rgb(202, 119, 32) 59%,
						rgb(186, 109, 29) 60%, rgb(186, 109, 29) 69%,
						rgb(190, 112, 30) 70%, rgb(190, 112, 30) 79%,
						rgb(174, 102, 27) 80%, rgb(174, 102, 27) 89%,
						rgb(178, 105, 28) 90%, rgb(178, 105, 28) 100%);
}

.linear-gradient-blue {
	background-image: -webkit-linear-gradient(10deg, 
						rgb(191, 203, 212) 0%, rgb(191, 203, 212) 10%,
						rgb(165, 183, 197) 10%, rgb(165, 183, 197) 20%,
						rgb(152, 175, 193) 20%, rgb(152, 175, 193) 30%,
						rgb(133, 169, 195) 30%, rgb(133, 169, 195) 40%,
						rgb(123, 163, 195) 40%, rgb(123, 163, 195) 50%,
						rgb(116, 148, 173) 50%, rgb(116, 148, 173) 60%,
						rgb(98, 137, 169) 60%, rgb(98, 137, 169) 70%,
						rgb(85, 123, 154) 70%, rgb(85, 123, 154) 80%,
						rgb(65, 113, 152) 80%, rgb(65, 113, 152) 90%,
						rgb(36, 98, 148) 90%, rgb(36, 98, 148) 100%);
	background-image: linear-gradient(10deg, 
						rgb(191, 203, 212) 0%, rgb(191, 203, 212) 10%,
						rgb(165, 183, 197) 10%, rgb(165, 183, 197) 20%,
						rgb(152, 175, 193) 20%, rgb(152, 175, 193) 30%,
						rgb(133, 169, 195) 30%, rgb(133, 169, 195) 40%,
						rgb(123, 163, 195) 40%, rgb(123, 163, 195) 50%,
						rgb(116, 148, 173) 50%, rgb(116, 148, 173) 60%,
						rgb(98, 137, 169) 60%, rgb(98, 137, 169) 70%,
						rgb(85, 123, 154) 70%, rgb(85, 123, 154) 80%,
						rgb(65, 113, 152) 80%, rgb(65, 113, 152) 90%,
						rgb(36, 98, 148) 90%, rgb(36, 98, 148) 100%);
}

.linear-gradient-green {
	background-image: -webkit-linear-gradient(10deg, 
						rgb(188, 202, 189) 0%, rgb(188, 202, 189) 10%,
						rgb(164, 197, 165) 10%, rgb(164, 197, 165) 20%,
						rgb(141, 195, 143) 20%, rgb(141, 195, 143) 30%,
						rgb(129, 183, 131) 30%, rgb(129, 183, 131) 40%,
						rgb(108, 175, 111) 40%, rgb(108, 175, 111) 50%,
						rgb(93, 162, 96) 50%, rgb(93, 162, 96) 60%,
						rgb(78, 156, 81) 60%, rgb(78, 156, 81) 70%,
						rgb(64, 140, 68) 70%, rgb(64, 140, 68) 80%,
						rgb(43, 132, 46) 80%, rgb(43, 132, 46) 90%,
						rgb(46, 121, 49) 90%, rgb(46, 121, 49) 100%);
	background-image: linear-gradient(10deg, 
						rgb(188, 202, 189) 0%, rgb(188, 202, 189) 10%,
						rgb(164, 197, 165) 10%, rgb(164, 197, 165) 20%,
						rgb(141, 195, 143) 20%, rgb(141, 195, 143) 30%,
						rgb(129, 183, 131) 30%, rgb(129, 183, 131) 40%,
						rgb(108, 175, 111) 40%, rgb(108, 175, 111) 50%,
						rgb(93, 162, 96) 50%, rgb(93, 162, 96) 60%,
						rgb(78, 156, 81) 60%, rgb(78, 156, 81) 70%,
						rgb(64, 140, 68) 70%, rgb(64, 140, 68) 80%,
						rgb(43, 132, 46) 80%, rgb(43, 132, 46) 90%,
						rgb(46, 121, 49) 90%, rgb(46, 121, 49) 100%);
}